# Banco de dados Postgres
DATABASE_URL="postgresql://usuario:senha@localhost:5432/aws_comercial?schema=public"

# NextAuth
AUTH_SECRET="gere-uma-string-aleatoria-longa-aqui"
NEXTAUTH_URL="http://localhost:3000"
